.gmnoprint{
    display: none;
}

.gmnoprint .gm-style-cc{
    display: none;
}

.gm-style-cc{
    display: none;
}

.content-wrap {
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.show-menu .content-wrap {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    -webkit-transform: translate3d(-600px, 0, 0);
    transform: translate3d(-600px, 0, 0);
}
.navbar-fixed-top {
    padding: 15px 0;
}
.affix {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    padding: 0!important;
    background: #500079 !important;
}
.sticky-navigation .row {
    padding: 0;
}
.navbar.menu-wrap .navbar-header {
    margin: 0 85px;
    float: none;
}
.navbar.menu-wrap {
    position: fixed;
    width: 600px;
    top: 0;
    right: 0;
    min-height: 100%;
    border-radius: 0;
    margin: 0;
    z-index: 9999;
    height: 100%;
    -webkit-transform: translate3d(600px, 0, 0);
    transform: translate3d(600px, 0, 0);
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}


.navbar .navbar-nav li a:hover,
.navbar .navbar-nav li .active a {
    background: rgba(255, 255, 255, 0.1);
}
.show-menu .navbar.menu-wrap {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    background: #500079;
}
.navbar.menu-wrap .navbar-form {
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    box-shadow: none;
    display: block;
}
.navbar.menu-wrap .navbar-form .form-control {
    display: block;
    width: 100%;
}

.close-button {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 15px;
    top: 30px;
    overflow: hidden;
    text-indent: 10px;
    border: none;
    background: transparent;
    color: transparent;
}
.close-button::before,
.close-button::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    top: 0;
    left: 50%;
    background: #bdc3c7;
}
.close-button::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.close-button::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.close-button:hover:before,
.close-button:hover:after {
    background: #fff;
}
/*.navbar .navbar-header {
  padding: 13px 0;
}*/
.menu-icon {
    background: transparent;
    border: none;
    /*margin-right: 15px;*/
}

.menu-icon i:hover {
    color: #fff;
}
@media (max-width: 768px) {
    body.toggled {
        position: fixed;
    }
}

@media (min-width: 1200px) {
    .hero-area {
        padding: 280px 0;
    }
    .hero-area h1 {
        font-size: 50px !important;
    }
}


#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    z-index: 9999999999;
}
.loader-inner {
    position: animation;
    top: 50%;
    left: 50%;
}
@-webkit-keyframes ball-triangle-path-1 {
    33% {
        -webkit-transform: translate(25px, -50px);
        transform: translate(25px, -50px);
    }
    66% {
        -webkit-transform: translate(50px, 0px);
        transform: translate(50px, 0px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}
@keyframes ball-triangle-path-1 {
    33% {
        -webkit-transform: translate(25px, -50px);
        transform: translate(25px, -50px);
    }
    66% {
        -webkit-transform: translate(50px, 0px);
        transform: translate(50px, 0px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}
@-webkit-keyframes ball-triangle-path-2 {
    33% {
        -webkit-transform: translate(25px, 50px);
        transform: translate(25px, 50px);
    }
    66% {
        -webkit-transform: translate(-25px, 50px);
        transform: translate(-25px, 50px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}
@keyframes ball-triangle-path-2 {
    33% {
        -webkit-transform: translate(25px, 50px);
        transform: translate(25px, 50px);
    }
    66% {
        -webkit-transform: translate(-25px, 50px);
        transform: translate(-25px, 50px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}
@-webkit-keyframes ball-triangle-path-3 {
    33% {
        -webkit-transform: translate(-50px, 0px);
        transform: translate(-50px, 0px);
    }
    66% {
        -webkit-transform: translate(-25px, -50px);
        transform: translate(-25px, -50px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}
@keyframes ball-triangle-path-3 {
    33% {
        -webkit-transform: translate(-50px, 0px);
        transform: translate(-50px, 0px);
    }
    66% {
        -webkit-transform: translate(-25px, -50px);
        transform: translate(-25px, -50px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}
.ball-triangle-path {
    position: relative;
    -webkit-transform: translate(-25px, -25px);
    -ms-transform: translate(-25px, -25px);
    transform: translate(-25px, -25px);
}
.ball-triangle-path > div:nth-child(1) {
    -webkit-animation-name: ball-triangle-path-1;
    animation-name: ball-triangle-path-1;
    -webkit-animation-delay: 0;
    animation-delay: 0;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.ball-triangle-path > div:nth-child(2) {
    -webkit-animation-name: ball-triangle-path-2;
    animation-name: ball-triangle-path-2;
    -webkit-animation-delay: 0;
    animation-delay: 0;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.ball-triangle-path > div:nth-child(3) {
    -webkit-animation-name: ball-triangle-path-3;
    animation-name: ball-triangle-path-3;
    -webkit-animation-delay: 0;
    animation-delay: 0;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.ball-triangle-path > div {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #3f51b5;
}
.ball-triangle-path > div:nth-of-type(1) {
    top: 50px;
}
.ball-triangle-path > div:nth-of-type(2) {
    left: 25px;
}
.ball-triangle-path > div:nth-of-type(3) {
    top: 50px;
    left: 50px;
}




.googlemap {
    position: relative;
    padding-bottom: 100vh; /* 4:3 ratio*/
    height: 0;
    overflow: hidden;
}

.googlemap #div_main_map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    z-index: -100;
}

.navbar-fixed-top,
.navbar-inverse.navbar {
    padding: 7px 10px;
    background: #000;
}

.sidebar-inner {
    background-color: #500079;
    height: 100vh;
}

.no-pad {
    padding: 0px;
}

ul li a {
    font-family: 'Conv_prater';
    color: #fff !important;
    text-transform: uppercase;

}

.purple{
    background: #500079;
}

.white {
    color: #fff;
}

body { 
    background: url(../img/login.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.btn-primary.facebook {
    background: url(../img/login.jpg) no-repeat center center fixed; 
    border: none;
    border-radius: 0px;
    padding: 7px 30px;
    margin-top: 10px;
}

.modal-form {
    background: url(../img/madera-modal.png) no-repeat; 
    height: 728px;
    widows: 594px;
}

h4.form {
    font-family: 'Conv_FuturaLT-CondensedBold';
    padding: 0px 70px;
}

h4.user {
    font-family: 'Conv_FuturaLT-CondensedBold';
    text-transform: uppercase; 
}


.green {
    color: #00cc99;
}

.white {
    color: #fff;
}

.control-label {
    font-family: 'Conv_FuturaLT-Condensed';
    letter-spacing: 1px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}

.btn-danger {
    font-family: 'Conv_FuturaLT-CondensedBold';
    background: #ff004f;
    color: #fff;
    font-size: 14px;
    border-radius: 0px;
    border: 1px solid #fff;
    letter-spacing: 1px;
}

.acepto {
    font-family: 'Conv_FuturaLT-CondensedBold';
    color: #fff;
    font-size: 13px;
    letter-spacing: 1px;
}

input[type="checkbox"] {
    background: #2de07d;    
}

.chk {
   background-color: #2de07d !important;  
    
}

.form-control {
    border-radius: 0px;
    border: none;
}

@font-face {
    font-family: 'Conv_FuturaLT-CondensedBold';
    src: url('fonts/FuturaLT-CondensedBold.eot');
    src: local('☺'), url('fonts/FuturaLT-CondensedBold.woff') format('woff'), url('fonts/FuturaLT-CondensedBold.ttf') format('truetype'), url('fonts/FuturaLT-CondensedBold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_FuturaLT-Condensed';
    src: url('fonts/FuturaLT-Condensed.eot');
    src: local('☺'), url('fonts/FuturaLT-Condensed.woff') format('woff'), url('fonts/FuturaLT-Condensed.ttf') format('truetype'), url('fonts/FuturaLT-Condensed.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

