<!-- Pre Loader -->
<div id="loader-wrapper">
  <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>

<!-- Header -->
<div ng-include="'layouts/' + layoutName + '/header.html'"></div>

<!-- Content-->
<div id="intro" class="section scrollspy">
    <div class="container">
	    <div class="collection col s12" ng-show="flash.checkMessage()">
		    <a ng-click="flash.discardMessage(key)" class="collection-item" ng-repeat="(key, message) in flash.getMessage()">
		    	{{message}}
		    </a>
		</div>
    	<div class="wrapper" ui-view=""></div>
    </div>
</div>

<!-- Footer -->
<div ng-include="'layouts/' + layoutName + '/footer.html'"></div>